.idea
venv
.envTesting
__pycache__/*
marketAnalysis/T1.env
marketAnalysis/data/*
marketAnalysis/plots/*
marketAnalysis/venv
marketAnalysis/__pycache__/*
userTransactionAnalysis/__pycache__/*
userTransactionAnalysis/venv
userTransactionAnalysis/.env
.env

